#page-header {
    padding: 0px;
}

#page-header figure {
    margin: 0px;
    height: 4em;
}

#page-header figcaption {
    font-family: 'Unica One', cursive;
    display: inline;
}

#page-header img {
    height: 80%;
    margin-bottom: 1em;
}

#page-header .nav-item a {
    font-family: 'Unica One', cursive;
    font-size: 1.2em;
    color: white;
    padding: 0px 30px;
}

.container-fluid {
    background-color: #f5c014;
}

#page-header .navbar-brand{
    color: white;
    font-size: 40px;
}

footer.fixed-bottom {
    background-color: #f5c014;
    height: 3em;
}

.container {
    display: flex;
    margin: 2em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}

li {
    margin: 11px 20px;
}

#form {
    margin: 2em;
}

#chart {
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(51,51,51);
}